---
import "@fontsource-variable/roboto";
import "@styles/global.css";
import { ClientRouter } from "astro:transitions";
import { getLangFromUrl } from "@i18n/utils";
import Navbar from "@components/Navbar.astro";
interface Props {
  title: string;
  description: string;
  keywords?: string;
}

const { title, description, keywords } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const url = Astro.url.pathname;
---

<!doctype html>
<html lang={lang}>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W3HZM0RBX5"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-W3HZM0RBX5");
    </script>

    <!-- Google Tag Manager -->
    <script type="text/partytown">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-PNQG4QX4");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content={keywords} />
    <meta name="author" content="Reforma Dental" />
    <meta name="publisher" content="Ecommetrica" />
    <link rel="canonical" href={url} />
    <meta name="copyright" content="Reforma Dental" />
    <meta name="language" content={lang} />
    <meta name="url" content={url} />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:type" content="website" />
    <meta name="og:image" content="https://reformadental.com/og.png" />
    <meta name="og:url" content={url} />
    <meta name="og:site_name" content="Reforma Dental" />
    <title>
      {title}
    </title>
    <ClientRouter />

    <script type="text/partytown">
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "606403608113212");
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=606403608113212&ev=PageView&noscript=1"
      /></noscript
    >
  </head>

  <body>
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PNQG4QX4"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <Navbar />
    <slot />
  </body><style is:global>
    html {
      scroll-behavior: smooth;
    }

    body {
      font-family: "Roboto Variable", sans-serif;
    }
  </style>
</html>
